<form class="form__container">
  <h2 class="form__title">REGISTRATION</h2>
  <div class="form__item">

    <input type="text" class="form__input form__inputName" placeholder="Name" />
    <span class="form__message form__messageName"></span>
  </div>
  <div class="form__item">

    <input
      type="email"
      class="form__input form__inputEmail"
      placeholder="E-mail"
    />
    <span class="form__message form__messageEmail"></span>
  </div>
  <div class="form__item">

    <input
      type="tel"
      class="form__input form__inputPhone"
      placeholder="Phone"
    />
    <span class="form__message form__messagePhone"></span>
  </div>
  <div class="form__item">

    <input
      type="text"
      class="form__input form__inputMessage"
      placeholder="Message"
    />
    <span class="form__message form__messageMessage"></span>
  </div>
  <div class="form__buttoncontainer">
    <button type="button" class="form__button">SEND</button>
  </div>
  <div class="form__requestindicator">
    <div class="form__loader loader_hidden">
      <div class="loader loader-black loader-4"></div>
    </div>
    <p class="form__responseMessage"></p>
  </div>
</form>